*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   #slide-bg:hover #box {
    display: block;
    right: 0;
  }
  #box{
     right: 30px;    
     transition: all 0.3s ease-in-out;
  }
  #nav-menu-1 .htmlCss-sub-menu{
   display: none;
   position: absolute;
   border-top: 4px solid rgb(9, 9, 237);

  }
  #nav-menu-1:hover .htmlCss-sub-menu{
   display: block;
  }
 

